@model mahaLAnd.Models.Follow

@{
    ViewData["Title"] = "Details";
}
<title>MahaLAnd</title>

<h1>Details</h1>

<div>
    <h4>Follow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Follower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Follower.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Following)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Following.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
