@model mahaLAnd.Models.MyModel

@{
    ViewData["Title"] = "Post";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MahaLAnd</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    <div class="insta">
        <header>
            <div class="logo">
                <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><img src="~/img/mahaLAnd.jpg" alt="mahaLAnd" /></a>
            </div>
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass" style="color:gray"></i>
                    <input type="search" name="SearchedUser" placeholder="Search" />
                </div>
            }
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Post" asp-action="Create"><i class="fa-solid fa-square-plus"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Notification" asp-action="Index"><i class="fa-solid fa-heart"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.LoggedProfile.Id"><img src="@("~/img/"+Model.LoggedProfile.ProfilePhoto)" asp-append-version="true"></a>
                    </li>
                </ul>
            </nav>
        </header>
    <section>
            <div class="left-side">
                <div class="posts">
                    <div class="post-title">
                        <div class="post-left">
                        </div>
                        <div class="post-right">
                            @if(Model.User.Id.Equals(Model.LoggedUser.Id))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="fas fa-ellipsis-h" style="text-decoration:none; color:black">&nbsp;&nbsp;</a>   
                                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="fa-solid fa-trash" style="text-decoration:none; color:black"></a>   
                            }
                        </div>
                    </div>
                    <div class="post-content">
                        <img class="post" src="@("~/img/"+Model.Post.PostURL)" asp-append-version="true" />
                    </div>
                    <div class="post-footer">
                        @using (Html.BeginForm("CreateLike", "Notification", FormMethod.Post))
                        {
                            @Html.Hidden("PostId", Model.Post.Id)
                            @Html.Hidden("UserId", Model.LoggedUser.Id)
                            <div class="wrapper">
                                <button class="heart" style="font-size:22px;"><i class="far fa-heart"></i></button>
                            </div>
                        }
                        @if(Model.Profile.ProfileType == ProfileType.PROFESSIONAL && Model.User.Id.Equals(Model.LoggedUser.Id))
                        {
                            <div class="right-sidee">
                                <a asp-action="Statistics" asp-route-id="@Model.Post.Id" style="text-decoration:none; color:dodgerblue">See statistics</a>
                            </div> 
                        }
                    </div>
                    <div class="post-footer-content">
                        <a asp-action="Likes" asp-route-id="@Model.Post.Id" class="likes" style="text-decoration:none; color:black;">@Model.NumberOfLikes likes</a>
                        <p class="name">@Model.User.UserName</p>
                        <p class="posting-time">@Model.Post.Date.Day.@Model.Post.Date.Month.@Model.Post.Date.Year.</p>
                    </div>
                    @using (Html.BeginForm("CreateComment", "Notification", FormMethod.Post))
                    {
                        @Html.Hidden("PostId", Model.Post.Id)
                        @Html.Hidden("UserId", Model.LoggedUser.Id)
                        <div class="add-comment">
                            <div class="left-side">
                                <i class="far fa-smile-beam"></i>
                                <input type="text" name="Comment" style="background-color:#fafafa; color:black;" placeholder="Add a comment..." />
                            </div>
                            <div class="right-sidee">
                                <a asp-controller="Notification" asp-action="CreateComment" style="text-decoration:none;">Post</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="right-side">
                <div class="profile-title" >
                    <div class="profile-left">
                        <div class="image">
                            <img src="@("~/img/"+Model.Profile.ProfilePhoto)" asp-append-version="true" width="45" height="45" />
                        </div>
                        <div class="details">
                            <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.Profile.Id" class="username" style="text-decoration:none;">@Model.User.UserName</a>
                        </div>
                    </div>
                </div>
                <div class="border"></div>
                @if(Model.Post.Description != null)
                {
                    <div class="profile-title" >
                        <div class="profile-left">
                            <div class="image">
                                <img src="@("~/img/"+Model.Profile.ProfilePhoto)" asp-append-version="true" width="45" height="45" />
                            </div>
                            <div class="details">
                                <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.Profile.Id" class="username" style="text-decoration:none;">@Model.User.UserName</a>
                                <p class="description">&nbsp;&nbsp;&nbsp;@Model.Post.Description</p>
                            </div>
                        </div>
                    </div>
                }
                @foreach(var comment in Model.Comments)
                {
                    <br />
                    <div class="profile-title" >
                        <div class="profile-left">
                            <div class="image">
                                <img src="@("~/img/"+comment.Item2.ProfilePhoto)" asp-append-version="true" width="45" height="45" />
                            </div>
                            <div class="details">
                                <a asp-controller="Profile" asp-action="Details" asp-route-id="@comment.Item2.Id" class="username" style="text-decoration:none;">@comment.Item1.UserName</a>
                                <p class="description">&nbsp;&nbsp;&nbsp;@comment.Item3</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</body>
</html>


