@model mahaLAnd.Models.MyModel

@{
    ViewData["Title"] = "Statistics";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MahaLAnd</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/statistics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    <div class="insta">
        <header>
            <div class="logo">
                <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><img src="~/img/mahaLAnd.jpg" alt="mahaLAnd" /></a>
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search" />
            </div>
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Profile.Id"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Post" asp-action="Create"><i class="fa-solid fa-square-plus"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Notification" asp-action="Index"><i class="fa-solid fa-heart"></i></a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.Profile.Id"><img src="@("~/img/"+Model.Profile.ProfilePhoto)" asp-append-version="true"></a>
                    </li>
                </ul>
            </nav>
        </header>
    <section>
            <div class="left-side">
                <div class="posts">
                    <div class="post-content">
                        <img class="post" src="@("~/img/"+Model.Post.PostURL)" asp-append-version="true" />
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="profile-title" >
                    <b style="font-size:30px;">Statistics</b>
                </div>
                <div class="border"></div>
                <br />
                <div class="profile-title" >
                    <p>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-heart" style="font-size:30px"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-comment" style="font-size:30px"></i></p>
                </div>
                <div class="profile-title" >
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@Model.Statistics.NumberOfLikes</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>@Model.Statistics.NumberOfComments</b></p>
                </div>
                <div class="border"></div>
                <br />
                <div class="profile-title" >
                    <p style="font-size:large;">Number of male likes: <b>@Model.Statistics.NumberOfMaleLikes</b></p>
                </div>
                <div class="profile-title" >
                    <p style="font-size:large;">Number of female likes: <b>@Model.Statistics.NumberOfFemaleLikes</b></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>


