@model IEnumerable<mahaLAnd.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<title>MahaLAnd</title>

<br />
<h1>Questions</h1>
<br />
@foreach (var item in Model) {
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(item => item.UserId)
        </dt>
        <dd class = "col-sm-10">
            @item.UserId
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(item => item.Text)
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="@item.Text" class="form-control" readonly="readonly" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(item => item.Answer)
        </dt>
        <dd class = "col-sm-10">
            @using (Html.BeginForm("Edit", "Question", FormMethod.Post))
            {
                @Html.Hidden("Id", item.Id)
                @Html.Hidden("UserId", item.UserId)
                @Html.Hidden("Text", item.Text)
                <input asp-for="@item.Answer" type="text" name="Answer" class="form-control" />
            }
        </dd>
        <dt class = "col-sm-2">
            <a asp-action="DeleteEmployee" asp-route-id="@item.Id">Delete</a>
        </dt>
    </dl>
    <hr />
}
