@model IEnumerable<mahaLAnd.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<title>MahaLAnd</title>

<br />
<h1>Help Center</h1>
<br />
@foreach (var item in Model) {
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(item => item.Text)
            </dt>
            <dd class = "col-sm-10">
                <input asp-for="@item.Text" class="form-control" readonly="readonly" />
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(item => item.Answer)
            </dt>
            <dd class = "col-sm-10">
                <input asp-for="@item.Answer" class="form-control" readonly="readonly" />
            </dd>
            <dt class = "col-sm-2">
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </dt>
        </dl>
        <hr />
}
